
# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Archivos temporales / copias
# =========================
*.tmp
*.temp
*.bak
*.swp
*.swo
*~
*.orig

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos comprimidos
# =========================
*.zip
*.rar
*.7z
*.tar.gz

# =========================
# VS Code / editores
# =========================
.vscode/
.idea/

# =========================
# Python cache (por si acaso)
# =========================
__pycache__/
*.pyc
